$color_main: #3b5060;
$color_secondary: #ff8d6b;
$color_main_pale: transparentize($color_main, 0.5);
$color_bg: #93e7cf;
$color_button-text: #fff;
$color_placeholder: #5f7ca6;
$color_table-header: #9b9b9b;
$color_background: #f8f8f8;
$color_delimiter: #cfd0d1;
$color_button-disabled: #b8efe0;
$color_half-dark: transparentize(#323232, 0.5);
$color_modal-background: #fafafa;
$color_golden: #f7c600;
$color_green: #009688;
