// simplified custom grid

.container-alt {
	max-width: @size_desktop-min;
	._margin-centered();

	@media(min-width: @size_tablet-min) {
		._padding-left-right_x(2);
	}
}

.row-alt {
	//._margin-left-right_x(-1);
	.clearfix();
}

._col() {
	//._padding-left-right();
	position: relative;
	min-height: 1px;
	float: left;
}

.col-100 {
	width: 100%;
	//._padding-left-right();
	position: relative;
	min-height: 1px;
}

.col-50 {
	width: 50%
}

.col-half {
	margin: -3px;
	padding-left: 4px;
	.data-block_link {
		background-color: white;
		margin: -1px;
	}
}

.col-70-sm,
.col-30-sm {
	._col();
}

@media (min-width: @size_desktop-min) {
	.col-70-sm {
		width: 70%;
		._padding-right(0.5rem);
	}

	.col-30-sm {
		width: 30%;
		._padding-left(0.5rem);
	}
}

@media (max-width: @size_tablet-max) {
	.col-100-md {
		width: 100%;
	}
	.col-50 {
		width: 100%
	}
	.col-half {
		margin: -1px;
		padding-left: 2px;
	}
}
